<div class="title-blog">
  <%= link_to "Crear Blog", new_blog_path, class: "btn mb-3" %>
</div>

<%# buscardor %>
<%= form_with url: blogs_path(), method: :get , id:"buscador"  do %>
      <%= text_field_tag :query,
            params[:query],
            class: "searchTerm",
            placeholder: "Realiza tu busqueda..."
        %>
      <%#= submit_tag class: "searchButton" %>
      <span><i class="fa fa-search"></i></span>
<%end%>
<%# buscardor %>

<div class="blog-container tm-row pb-5">
  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-12 col-md-4 mb-3">
        <hr class="tm-hr-primary">
        <div class="card blogs-border">
          <div class="card-body">
            <div class="tm-post-link-inner">
              <% if blog.photo.present? %>
                <%= cl_image_tag blog.photo.key, alt: blog.title, class: "img-blogs" if blog.photo.present? %>
              <% else %>
                <%= image_tag "blogs/Blog.jpg", alt: "Imagen por defecto", class: "img-blogs" %>
              <% end %>
            </div>
            <hr>
            <div class="d-flex aligns-items-center">
            <h5 class="mb-0 tm-color-primary tm-post-title"><%= blog.title %></h5>
            </div>
            <p class=coment><%= blog.comment %></p>

            <% if current_user == blog.user %>
              <%= link_to "Actualizar", edit_blog_path(blog), class: "btn" %>
              <%= link_to 'Eliminar', blog_path(blog), data: { turbo_method: :delete, turbo_confirm: '❌ ¿Estás seguro de que deseas eliminar este blog? ❌' }, class: 'btn'%>
            <% end %>

            <hr>

            <%= cl_image_tag blog.user.photo.key, class: "avatar rounded-circle" , id: "navbarDropdown"%>
            <%= blog.user.first_name %> <%= blog.user.last_name %></span>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
