<%# buscardor %>
<%= form_with url: blogs_path(), method: :get , id:"buscador"  do %>
      <%= text_field_tag :query,
            params[:query],
            class: "searchTerm",
            placeholder: "Realiza tu busqueda..."
      %>
      <span><i class="fa fa-search"></i></span>
<%end%>
<%# buscardor %>

<div class="title-blog">
  <%= link_to "Crear Blog", new_blog_path, class: "btn mb-3" %>
</div>

<div class="blog-container tm-row pb-5">
  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-12 col-md-4 mb-3">
        <hr class="tm-hr-primary">
        <div class="card blogs-border">
          <div class="card-body">
            <div class="tm-post-link-inner">
              <% if blog.photo.present? %>
                <%= cl_image_tag blog.photo.key, alt: blog.title, class: "img-blogs" if blog.photo.present? %>
              <% else %>
                <%= image_tag "blogs/Blog.jpg", alt: "Imagen por defecto", class: "img-blogs" %>
              <% end %>
            </div>
            <hr>
            <div class="d-flex aligns-items-center">
            <h5 class="mb-0 tm-color-primary tm-post-title"><%= blog.title %></h5>
            </div>
            <p class=coment><%= blog.comment %></p>
            <%= link_to "Ver", blog_path(blog), class: "btn mb-3" %>

            <hr>
            <div class="d-flex align-items-center justify-content-between">
            <div class="link_to">
              <%= cl_image_tag blog.user.photo.key, class: "avatar rounded-circle" , id: "navbarDropdown"%>
            <%= blog.user.first_name %> <%= blog.user.last_name %></span>
            </div>
            <div class="link_to">
            <% if current_user == blog.user %>
              <%= link_to edit_blog_path(blog) do %>
                <i class="fa-solid fa-pencil text-warning ms-3"></i>
            <%end%>
            <%= link_to blog_path(blog), data: { turbo_method: :delete, turbo_confirm: '❌ ¿Estás seguro de que deseas eliminar este blog? ❌' } do %>
                <i class="fa-solid fa-trash text-danger ms-3"></i>
            <%end%>
            <%end%></div>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
