<br><h1 style="text-align: center;">Lista de Blogs</h1><br>


<%# buscardor %>
<div class="search-container tm-row">
  <div class="row">
    <div class="col-12">
      <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
      <button class="tm-search-button" type="submit">
        <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div class="blog-container tm-row">
  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-12 col-md-4">
        <hr class="tm-hr-primary">
        <div class="card blogs-border">
          <div class="card-body">
            <div class="tm-post-link-inner">
              <%= cl_image_tag blog.photo.key, alt: blog.title, style: 'width: 500px; height: 223px;', class: "img-fluid" if blog.photo.present? %>
            </div>
            <hr>
            <h5 class="tm-pt-30 tm-color-primary tm-post-title"><%= blog.title %></h5>
            <p class="tm-pt-30"><%= blog.comment %></p>
            <%= link_to "Actualizar", edit_blog_path(blog), class: "btn btn-primary" %>
            <hr>
            <%= cl_image_tag blog.user.photo.key, class: "avatar rounded-circle" , id: "navbarDropdown"%>
            <%= blog.user.first_name %> <%= blog.user.last_name %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
