<div style="text-align: center;">
  <%= link_to "Crear Blog", new_blog_path, class: "btn btn-primary mb-3" %>
</div>

<%# buscardor %>
<br><h1 style="text-align: center;">Lista de Blogs:</h1><br>
<div class="search-container tm-row">
  <div class="row">
    <div class="col-12">
      <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
      <button class="tm-search-button" type="submit">
        <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div class="blog-container tm-row pb-5">
  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-12 col-md-4 mb-3">
        <hr class="tm-hr-primary">
        <div class="card blogs-border">
          <div class="card-body">
            <div class="tm-post-link-inner">
              <%= cl_image_tag blog.photo.key, alt: blog.title, style: 'width: 500px; height: 223px;', class: "img-fluid" if blog.photo.present? %>
            </div>
            <hr>
            <div class="d-flex align-items-center" style="height: 65px;">
            <h5 class="mb-0 tm-color-primary tm-post-title"><%= blog.title %></h5>
            </div>
            <p style="height: 160px"><%= blog.comment %></p>
            <%= link_to "Actualizar", edit_blog_path(blog), class: "btn btn-primary" %>
            <hr>
            <%= cl_image_tag blog.user.photo.key, class: "avatar rounded-circle" , id: "navbarDropdown"%>
            <%= blog.user.first_name %> <%= blog.user.last_name %></span>

            <br><% if blog.photo.present? %>
                  <%= cl_image_tag blog.photo.key, alt: blog.title, style: 'width: 355px; height: auto;', class: "img-fluid" %>
                <% else %>
                  <%= image_tag "blogs/Blog.jpg", alt: "Imagen por defecto", style: 'width: 355px; height: auto;', class: "img-fluid" %>

                <% end %>
            <% if current_user == blog.user %>
              <%= link_to "Actualizar", edit_blog_path(blog), class: "btn btn-primary" %>
              <%= link_to 'Eliminar', blog_path(blog), data: { turbo_method: :delete, turbo_confirm: '❌ ¿Estás seguro de que deseas eliminar este blog? ❌' }, class: 'btn btn-primary'%>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
