<div class="navbar navbar-expand-sm navbar-light navbar-lewagon z-index">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "selfcare.png", class: "imgnavbar"  %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? && current_user.role == false  %>
          <li class="nav-item active">
            <%= link_to "Home",  root_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Blogs",  blogs_path , class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Doctors",  doctors_path , class: "nav-link text-white" %>
          </li>
        <% elsif user_signed_in? && current_user.role == true  %>
          <li class="nav-item active">
            <%= link_to "Home",  root_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Blogs",  blogs_path , class: "nav-link text-white" %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Iniciar sesión",  new_user_session_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Home",  root_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Blogs",  blogs_path , class: "nav-link text-white" %>
          </li>
        <%end  %>
        <!--!!!!!!!!!!!!!!!¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡-->
        <!--VISUALIZAR EL ESTILO DE ESTO Dropdown PORQUE ESTA FEO-->
        <!--!!!!!!!!!!!!!!!¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡-->
        <% if user_signed_in? && current_user.role == false  %>
          <li class="nav-item dropdown" style="margin:10px;">
            <%= cl_image_tag current_user.photo.key, class: "avatar rounded-circle" , id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false if current_user.photo.attached? %>
            <div class="dropdown-menu dropdown-menu-end bg-dark" aria-labelledby="navbarDropdown">
              <%= link_to "Mi perfil", patient_path(current_user.patient), class: "dropdown-item text-light" %>
              <%= link_to "Editar perfil", edit_user_registration_path, class: "dropdown-item text-light" %>
              <%= link_to "Cerrar sesión", destroy_user_session_path, class: "dropdown-item text-light", data: {turbo_method: :delete} %>
            </div>
          </li>
          <% elsif user_signed_in? && current_user.role == true %>
            <li class="nav-item dropdown" style="margin:10px;">
              <%= cl_image_tag current_user.photo.key, class: "avatar rounded-circle" , id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false if current_user.photo.attached? %>
              <div class="dropdown-menu dropdown-menu-end bg-dark" aria-labelledby="navbarDropdown">
              <% unless current_user.doctor.nil? %>
                <%= link_to "Mi perfil", doctor_path(current_user&.doctor), class: "dropdown-item text-light" %>
              <% end %>
                <%= link_to "Editar perfil", edit_user_registration_path, class: "dropdown-item text-light" %>
                <%= link_to "Cerrar sesión", destroy_user_session_path, class: "dropdown-item text-light", data: {turbo_method: :delete} %>
              </div>
            </li>
          <% end %>

      </ul>
    </div>
    </div>
  </div>
</div>
