<div class="navbar navbar-expand-sm navbar-light navbar-lewagon z-index">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://www.selfcarecentral.com/cdn/shop/files/self_care_8_270x.png?v=1664827831", class: "imgnavbar"  %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? && current_user.role == false  %>
          <li class="nav-item active">
            <%= link_to "home",  root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Blogs",  blogs_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "doctors",  doctors_path , class: "nav-link" %>
          </li>
        <% elsif user_signed_in? && current_user.role == true  %>
          <li class="nav-item active">
            <%= link_to "home",  root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Blogs",  blogs_path , class: "nav-link" %>
          </li>
          <% else %>
          <li class="nav-item active">
            <%= link_to "Iniciar sesión",  new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "home",  root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Blogs",  blogs_path , class: "nav-link" %>
          </li>
          <%end  %>
          <% if user_signed_in? && current_user.role == false  %>
            <li class="nav-item dropdown z-5">
              <%= cl_image_tag current_user.photo.key, class: "avatar rounded-circle" , id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false if current_user.photo.attached? %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Mi perfil", do%>
                <%= link_to "Editar perfil", edit_user_registration_path , class: "dropdown-item" %>
                <%= link_to "Cerrar sesión", destroy_user_session_path , class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </li>
          <%end  %>
      </ul>
    </div>
  </div>
</div>
