<div class="row">
  <div class="col-md-6">
    <div class="card card_profile p-4" style="text-align: center;">
      <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "card-img-top carta-gab profile-image"%>

      <% end %>
        <h1>Perfil del Paciente</h1>
        <ul class="list-group list-group-flush">
        <div class="d-flex">
          <div>
            <li class="list-group-item lista-gab"><strong>Nombre:</strong> <%= @user.first_name %></li>
            <li class="list-group-item lista-gab"><strong>Apellido:</strong> <%= @user.last_name %></li>
            <li class="list-group-item lista-gab"><strong>Edad:</strong> <%= @user.age %></li>
          </div>
          <div>
            <li class="list-group-item lista-gab"><strong>DNI:</strong> <%= @user.dni %></li>
            
          </div>
        </div>
            <li class="observation-container"><strong>Observaci贸n:</strong> <%= @patient.observation %></li>
        </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div>
      <div class="card card-consultations p-4">
        <h1>Consultas del Paciente</h1>
        <%= link_to 'Crear Consulta', new_patient_consultation_path(@patient, @doctor), class: 'btn btn-success mb-3 rounded-pill' %>
      </div>
        <% if @consultations.any? %>
          <ul class="list-group">
            <% @consultations.each do |consultation| %>
            <div class="card card-consultations p-4">
                <li class="list-group-item lista-gab"><strong>Diagn贸stico:</strong> <%= consultation.diagnostic %></li>
                <li class="list-group-item lista-gab"><strong>Fecha del Diagn贸stico:</strong> <%= consultation.created_at.strftime("%Y-%m-%d %H:%M") %></li>
                <li class="list-group-item lista-gab"><strong>Fecha de Actualizaci贸n:</strong> <%= consultation.updated_at.strftime("%Y-%m-%d %H:%M") %></li>
                <li class="list-group-item lista-gab"><strong>Doctor:</strong> <%= consultation.doctor.full_name %></li>
                <%= link_to 'Editar', edit_consultation_path(consultation), class: 'btn btn-primary btn-sm rounded-pill' %>
            </div>
            <% end %>
          </ul>
        <% else %>
          <p>No hay consultas para este paciente.</p>
        <% end %>
    </div>
  </div>
</div>
<%= console %>
