<div class="row">
  <div class="col-md-6">
    <div class="card" style="max-width: 500px; position: sticky; top: 50px; z-index: 1;">
      <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "card-img-top profile-image rounded-circle", style: "max-width: 200px; max-height: 200px; margin: auto;" %>
      <% end %>
      <div class="card-body">
        <h1 class="card-title text-center">Perfil del Paciente</h1>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Nombre:</strong> <%= @user.first_name %></li>
          <li class="list-group-item"><strong>Apellido:</strong> <%= @user.last_name %></li>
          <li class="list-group-item"><strong>Edad:</strong> <%= @user.age %></li>
          <li class="list-group-item"><strong>DNI:</strong> <%= @user.dni %></li>
          <li class="list-group-item"><strong>Número de teléfono:</strong> <%= @user.phone_number %></li>
          <li class="list-group-item"><strong>Alergia:</strong> <%= @patient.alergy %></li>
          <li class="list-group-item"><strong>Observación:</strong> <%= @patient.observation %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  <div class="card" style="max-width: 500px;">
    <div class="card-body">
      <h1>Consultas del Paciente</h1>
      <%= link_to 'Crear Consulta', new_doctor_consultation_path(@patient, @doctor), class: 'btn btn-success mb-3' %>
      <% if @consultations.any? %>
        <ul class="list-group">
          <% @consultations.each do |consultation| %>
            <li class="list-group-item">
              <p><strong>Diagnóstico:</strong> <%= consultation.diagnostic %></p>
              <p><strong>Fecha del diagnóstico:</strong> <%= consultation.created_at.strftime("%Y-%m-%d %H:%M") %></p>
              <p><strong>Doctor:</strong> <%= consultation.doctor.full_name %></p>
              <%= link_to 'Editar', edit_consultation_path(consultation), class: 'btn btn-primary btn-sm rounded-pill' %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No hay consultas para este paciente.</p>
      <% end %>
    </div>
  </div>
</div>

</div>
