<body id="doctors_view">
  <h1 class="text-center">Especialistas de Selfcare:</h1>
  <div class="wrapper_doctor">
    <div class="row">
    <% @doctors.each do |user| %>
      <div class="col-md-6 col-lg-3">
        <div class="card_doctor ms-5">
        <%= image_tag user.photo, class:"card-img-top" if user.photo.attached?  %>
          <div class="card_doctor-body">
            <h5 class="card_doctor-title"><%= user.first_name %> <%= user.last_name  %></h5>
            <p class="card_doctor-text text_doctor">Especialidad: <%= user.doctor.specialty %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>


    <br><h1>Ubica a tus doctores</h1><br>

  <div class="info-container">
    <div class= "px-3 flex-fill">
      <div class="map-container w-100">
        <div style="width: 100%; height: 500px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    <div class="separacion"></div>
    <div class="info-area ps-3">
      <h3 style="color: #F2BF5E">Contáctanos:</h3>
        <P><i class="fa-solid fa-phone"></i> LLAMANOS</P>
        <P> 0424-2417842 </P>
        <P><i class="fa-solid fa-envelope"></i> CONSULTANOS </P>
        <P>selfcare.atencion@gmail.com</P>
        <P><i class="fa-solid fa-clock"></i> HORARIO DE TRABAJO </P>
        <P>Lun - Vier | 8:00 a.m - 5:00 p.m</P>
        <%# <p><div class="footer-links">
      <a href="https://github.com/tuempresa"><i class="fa-brands fa-github"></i></a>
      <a href="https://instagram.com/tuempresa"><i class="fab fa-instagram"></i></a>
      <a href="https://facebook.com/tuempresa"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/tuempresa"><i class="fab fa-twitter"></i></a>
      <a href="https://linkedin.com/company/tuempresa"><i class="fab fa-linkedin"></i></a>
    </div></p> %>
    </div>
  </div>
</body>
